@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.canvas-container{
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.canvas {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.item {
  padding: 15px;
  border: 1px solid black;
  cursor: pointer;
}

.canvas :hover {
  border-color: red;
}

.break {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
}




* {
  box-sizing: border-box;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + label span {
  transform: scale(1.25);
}
input[type=radio]:checked + label .red {
  border: 2px solid #711313;
}
input[type=radio]:checked + label .orange {
  border: 2px solid #873a08;
}
input[type=radio]:checked + label .yellow {
  border: 2px solid #816102;
}
input[type=radio]:checked + label .olive {
  border: 2px solid #505a0b;
}
input[type=radio]:checked + label .green {
  border: 2px solid #0e4e1d;
}
input[type=radio]:checked + label .teal {
  border: 2px solid #003633;
}
input[type=radio]:checked + label .blue {
  border: 2px solid #103f62;
}
input[type=radio]:checked + label .violet {
  border: 2px solid #321a64;
}
input[type=radio]:checked + label .purple {
  border: 2px solid #501962;
}
input[type=radio]:checked + label .pink {
  border: 2px solid #851554;
}

input[type=radio]:checked + label .black {
  border: 2px solid #000000;
}

input[type=radio]:checked + label .white {
  border: 2px solid #000000;
}
label {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
label span.red {
  background: #db2828;
}
label span.orange {
  background: #f2711c;
}
label span.yellow {
  background: #fbbd08;
}
label span.olive {
  background: #b5cc18;
}
label span.green {
  background: #21ba45;
}
label span.teal {
  background: #00b5ad;
}
label span.blue {
  background: #2185d0;
}
label span.violet {
  background: #6435c9;
}
label span.purple {
  background: #a333c8;
}
label span.pink {
  background: #e03997;
}
label span.black {
  background: #000000;
}

label span.white {
  background: #ffffff;
  border: 2px solid black
}

.swal-wide {
  height: 320px !important;
}